<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ wp_head() }}
</head>
<body {{ fn.body_class() }}>
<div id="app">
    <div class="home-gallery {{ not fn.is_front_page() ? 'home-gallery-faded' : '' }}">
    {% for image in bg_gallery %}
        <img src="{{ fn.wp_get_attachment_image_src(image, 'home_cover')[0] }}">
    {% endfor %}
    </div>
    {% include 'parts/header.twig' %}

    <div class="container-fluid">
        {% block main %}{% endblock %}
    </div>
</div>
{{ wp_footer() }}

</body>
</html>